<html>

<head>

{{> header}}

</head>

<body>
<h1>LogIN</h1>
<div class="container">
    <!-- injecting partial pages -->
    {{> menubar}}

      <form action = '/login' method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User Name</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User Name">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="passward" class="form-control" id="exampleInputPassword1" placeholder="passward">
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      {{#message}}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {{/message}}
      </form>
</div>
<!-- injecting partial pages -->
{{> footer}}

</body>

</html>